<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <p>Hey {{data.name}},</p>
    <p>Please use this provided code to reset your password.</p>

    <p>{{data.code}}</p>

    <p>Note that this code is only valid for 2 minutes</p>

    <p>If you did not request this email you can safely ignore it.</p>

  </body>
</html>